*{
    margin: 0;
padding: 0;
}
#body{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(background.png);
    
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 8%
   
}
.navbar{
    display: flex;

    
}
.logo{
    width:50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 10px;

}
nav{
    display: inline-block;
    position: absolute;
    right: 80px;
    
    
}
.menu-icon{width: 15px;
    height: 15px;
display: inline-block;
        position: absolute;
    right: 25px;
    top: 20px;
}
li{
    display:inline-block;
    padding-top: 20px;
  }
  a{
      padding: 20px;
      padding-top: 20px;
      text-decoration: none;
      color: white;
  }
  .text{
      color: white;
      display: flex;
      
     
      padding-top: 100px;
    
      width: 100%;
  }

  h1{ margin-top: 20px;
      font-size: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h6{
      font-size: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic; 
width: 300px; 
    }
   button{
       margin-top: 20px;
       width: 180px;
       color: rgb(255, 255, 255);
       font-size: 12px;
       padding: 12px 0;
       background:  rgba(189, 153, 153, 0.815);
    
       border: 0;
       border-radius: 20px;
       cursor: pointer;
       transition-duration: 1s;
   }
   button:hover{
       background: white;
       color: rgb(0, 0, 0);
       transform: 1.5;
   }
   .card{
       width: 200px;
       height: 150px;
       display: inline-block;
       border-radius: 10px;
       padding: 10px 15px;
       box-sizing: border-box;
       cursor:pointer;
       margin: 10px 15px;
       background-position: center;
       background-size: cover;
    }
    h5{
        font-size: 15px;
        margin-bottom: 10px;
    }
    p{
        font-size: 12px;
    }
    .col{
        padding-left:50px;
        
        
    }
    #card1{
        
        transition-duration: 1s;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pic-1.png);
   }
    #card2{
        
        transition-duration: 1s;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pic-2.png);
   }
    #card3{
        
        transition-duration: 1s;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pic-3.png);
   }
    #card4{
        transition-duration: 1s;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pic-4.png);
   }

   .card:hover{
       transform: scale(1.2);
   }

   @media (max-width:600px){
       .text{
           display: flex;
           flex-direction: column;
           margin-left:10px
       }
       button{
           margin-left: 20px;
       }
       h6{
           margin: -15px;
       }
       .left{
           padding-left: 50px;
       }
      
   }
   @media(max-width:370px)
   {
       nav ul {
margin-right: -40px;
       }
       .left{
           margin-left: -30px
       }
       .col{
           margin-left: -23px;
       }
    button{
        margin-left: 30px;
    }
    .card{
       
        height: 220px;
     
        margin-top: 30px;
     }
   }